# Copyright (c) 2026 length <me@length.cc> (https://github.com/d4c00)
# Licensed under the MIT License.
[Container]
ContainerName=rpi-upload-srv-1
Environment=MODE=1
Group=3012
Image=length/rpi-upload-srv:260407
PublishPort=3012:8443
User=3012
Volume=/mnt/ssd_data/podman/rpi-upload-srv/conf:/home/length/conf:z
Volume=/mnt/ssd_data/podman/rpi-upload-srv/fonts:/home/length/fonts:z
Volume=/mnt/ssd_data/podman/rpi-upload-srv/uploads:/home/length/uploads:z

[Service]
Restart=always

[Install]
WantedBy=default.target
