# Copyright (c) 2026 length <me@length.cc> (https://github.com/d4c00)
# Licensed under the MIT License.
[Container]
ContainerName=rpi-upload-srv-3
Environment=MODE=3
Group=3012
Image=length/rpi-upload-srv:260410
User=3012
Volume=/mnt/ssd_data/podman/rpi-upload-srv/conf:/home/length/conf:z
Volume=/mnt/ssd_data/podman/rpi-upload-srv/fonts:/home/length/fonts:z
Volume=/mnt/ssd_data/podman/rpi-upload-srv/output:/home/length/output:z
Volume=/mnt/ssd_data/podman/rpi-upload-srv/uploads:/home/length/uploads:ro,z
